.salesorderquotation
    DashboardController(v-bind:savedbtn='true',v-bind:heading="quotation",v-bind:discardbtn='true',v-bind:importbtn='false',v-bind:Attachmentbtn='true',v-bind:printbtn='true',v-bind:actionbtn='true', v-bind:links="btnlinks",v-bind:num1='true',v-bind:num2='true',v-bind:paginbtn1='false',v-bind:paginbtn2='false',v-bind:firstbtn='false',v-bind:secondbtn='false',v-bind:fifthbtn='false',v-bind:thirdbtn='false',v-bind:fourthbtn='false',v-bind:searchbar='false')
    Modal(v-bind:save='false',v-bind:heading="modal",v-bind:modal='"bd-example-modal-lg1"',v-bind:links="btnlinks",v-bind:select="true",v-bind:cancel="true")
        .input-group.stylish-input-group(style='height: 35px;')
            input.form-control(type='text', placeholder='Search', style="height: 40px;")
            span.input-group-addon(style="box-shadow: 0 0 0;border-color: #ccc;")
                button#searchbutton(type='submit')
                    span.fa.fa-search-plus.samofa
        .o_pager(style='margin-left: 90%;padding-bottom: 14px;')
            div
                span.o_pager_value 1-6
                |  /
                span.o_pager_limit 6
                span.btn-group.btn-group-sm
                    button.fa.fa-chevron-left.btn.btn-icon.o_pager_previous(type='button', accesskey='p', disabled='')
                    button.fa.fa-chevron-right.btn.btn-icon.o_pager_next(type='button', accesskey='n', disabled='')
        TableMain(v-bind:tableheader='tableheader',v-bind:tablefoot='tablefooter', v-bind:tabledata="tabledata")

    Modal(v-bind:close='true',v-bind:save='true',v-bind:saveTigger="team_leader_Trigger" ,v-bind:heading="modal",v-bind:modal='"bd-example-modal-lg"')
        .modal-body.o_act_window
            .o_form_view.o_form_editable
                .o_form_sheet_bg
                    .o_form_sheet
                        span.o_form_field.o_form_invisible 1
                        .o_form_field_image.oe_avatar.o_form_field(data-original-title='', title='')
                            img.img.img-responsive(border='1', name='image', src='http://192.168.100.105:8069/web/image?model=res.users&id=1&field=image_medium&unique=20171107093029')
                            .o_form_image_controls
                                span.fa.fa-pencil.fa-lg.pull-left.o_select_file_button(title='Edit')
                                span.fa.fa-trash-o.fa-lg.pull-right.o_clear_file_button(title='Clear')
                                span.o_form_binary_progress Uploading...
                                .o_hidden_input_file
                                    form.o_form_binary_form(enctype='multipart/form-data', method='post', action='/web/binary/upload')
                                        input(name='csrf_token', type='hidden', value='fa56da65bde766eb6c20966b2f8289f395dc7716o')
                                        input(name='callback', type='hidden')
                                        input.o_form_input_file(accept='image/*', name='ufile', type='file')
                        .oe_title(style='margin-left: 151px;margin-top: -157px')
                            label.o_form_label.oe_edit_only(for='o_field_input_15')
                                | Name
                            h1
                                input#o_field_input_15.o_form_input.o_form_field.o_form_required(type='text' v-model='username')
                            label.o_form_label.o_form_label_help.oe_edit_only(for='o_field_input_16', data-original-title='', title='')
                                | Email Address
                            h2
                                input#o_field_input_16.o_form_input.o_form_field.o_form_required(v-model='email', type='text')
                            label.o_form_label.o_form_label_help.o_form_invisible.oe_edit_only(for='o_field_input_17', data-original-title='', title='')
                                | Company
                            .o_form_field_many2one.o_with_button.o_form_field.o_form_required.o_form_invisible
                                .o_form_input_dropdown
                                    input#o_field_input_17.o_form_input.ui-autocomplete-input(type='text', autocomplete='off')
                                    span.o_dropdown_button(draggable='false')
                                button.fa.fa-external-link.btn.btn-default.o_external_button(draggable='false', tabindex='-1', type='button', style='display: block;')
                        table.o_group.o_inner_group
                            tbody
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label(for='o_field_input_19')
                                            | Phone
                                    td(colspan='1', style='width: 100%;')
                                        input#o_field_input_19.o_form_input.o_form_field(type='text' , v-model='phone_no')
                                tr
                                    td.o_td_label.o_form_invisible(colspan='1')
                                        label.o_form_label(for='o_field_input_20')
                                            | Mobile
                                    td.o_form_invisible(colspan='1', style='width: 100%;')
                                        input#o_field_input_20.o_form_input.o_form_field(type='text')
                                tr
                                    td.o_td_label.o_form_invisible(colspan='1')
                                        label.o_form_label(for='o_field_input_21')
                                            | Fax
                                    td.o_form_invisible(colspan='1', style='width: 100%;')
                                        input#o_field_input_21.o_form_input.o_form_field(type='text')

    .o_content.samocontent(style='margin-left: -15px;margin-right: -15px;')
        .o_view_manager_content
            .o_form_view.o_form_readonly
                .o_form_sheet_bg
                    .o_form_sheet
                        .oe_button_box(name='button_box')
                            button.btn.btn-sm.oe_stat_button(type='button')
                                .fa.fa-fw.fa-archive.o_button_icon
                                .o_stat_info.o_form_field(data-original-title='', title='')
                                    span.o_stat_text.o_not_hover.text-success Active
                                    span.o_stat_text.o_hover.text-danger Archives


                        .oe_title
                            label.o_form_label.oe_edit_only(for='o_field_input_36')
                                | Sales teams
                            h1
                                input#o_field_input_36.o_form_input.o_form_field.o_form_required.salesteam(type='text', v-model='sales_team_name')
                                button.o_field_translate.fa.fa-globe.btn.btn-link.o_translate_active.salesteam-global(type='button')
                            div(name='options_active', style='display: grid;')
                                .o_row
                                    .o_checkbox.o_form_field_boolean.o_form_field
                                        input(type='checkbox', name='use_quotations')
                                        span
                                    label.o_form_label.o_form_label_help
                                        | Quotations
                                    .o_checkbox.o_form_field_boolean.o_form_field
                                        input(type='checkbox', v-bind:true-value='1' v-bind:false-value='0' v-model='invoices')
                                        span
                                    label.o_form_label.o_form_label_help
                                        | Invoice
                                .o_row
                                    span.o_row.o_form_invisible(invisible='1')
                                        .o_checkbox.o_form_field_boolean.o_form_field
                                            input(type='checkbox', v-bind:true-value='1' v-bind:false-value='0' v-model='opportunities')
                                            span
                                        label.o_form_label.o_form_label_help
                                            | Leads
                                    .o_checkbox.o_form_field_boolean.o_form_field
                                        input#inputhide(type='checkbox', v-bind:true-value='1' v-bind:false-value='0' v-model='quotations')
                                        span
                                    label.o_form_label.o_form_label_help
                                        | Opportunities

                        .o_group
                            table.o_group.o_inner_group.o_group_col_6
                                tbody
                                    tr
                                        td.o_td_label(colspan='1')
                                            label.o_form_label
                                                | Team Leader
                                        td(colspan='1', style='width: 100%;')
                                            .o_form_field_many2one.o_form_field
                                                select(v-model='team_leader_get')
                                                    option(v-for='option_p in team_leader_drop', v-bind:value="option_p.id")
                                                        | {{ option_p.username }}
                                    tr#hidetr
                                        td.o_td_label(colspan='1')
                                            label.o_form_label.o_form_label_help(for='o_field_input_42', data-original-title='', title='')
                                                | Email Alias
                                        td(colspan='1', style='width: 100%;')
                                            div(name='alias_def', attrs="{'invisible': [('use_leads', '=', False), ('use_opportunities', '=', False)]}")
                                                .o_form_field_many2one.o_with_button.oe_read_only.oe_inline.o_form_field(data-original-title='', title='')
                                                    .o_form_input_dropdown
                                                        input.o_form_input.ui-autocomplete-input(type='text', autocomplete='off', v-model='alias_name')
                                                        span(style='font-size: 15px;padding-top: 5px;') @{{alias_domain}}
                                                .oe_edit_only.oe_inline(name='edit_alias', style='display: inline;')
                                                    input#o_field_input_42.o_form_input.oe_inline.o_form_field(type='text')
                                                    | @ localhost

                            table.o_group.o_inner_group.o_group_col_6

                        .o_notebook
                            ul.nav.nav-tabs(role='tablist')
                                li.nav-item
                                    a.nav-link.active(href='#profile1', role='tab', data-toggle='tab') Team Member
                            // Tab panes
                            .tab-content
                                #profile1.tab-pane.fade.in.active(role='tabpanel')
                                    .o_form_field.o_view_manager_content
                                        .o_x2m_control_panel
                                            .o_cp_buttons
                                                div
                                                    button.btn.btn-primary.btn-sm.o-kanban-button-new#add_p(accesskey='c', type='button',data-toggle='modal', data-target='.bd-example-modal-lg1')
                                                        | Add
                                            .o_cp_pager
                                                .o_hidden
                                                    span.o_pager_value
                                                    |  /
                                                    span.o_pager_limit
                                                    span.btn-group.btn-group-sm
                                                        button.fa.fa-chevron-left.btn.btn-icon.o_pager_previous(type='button')
                                                        button.fa.fa-chevron-right.btn.btn-icon.o_pager_next(type='button')
                                        .o_kanban_view.o_kanban_ungrouped(style='display: flex;')
                                            .col-md-12(style='padding-top: 12px;')
                                                .col-md-6(style='padding:0px;' v-for='tm_name in sales_team_team_member_name')
                                                    .fa.fa-times.pull-right.oe_kanban_action.oe_kanban_action_a.delete_tm(@click='delete_sales_team_member(tm_name.team_member_id)' style='cursor: pointer;')
                                                    img(src='/images/placeholder.png' ,  @click='modal_tm(tm_name.team_member_id)' ,data-toggle='modal', data-target='.bd-example-modal-lg')
                                                    p(style='display:inline-block;' ,  @click='modal_tm(tm_name.team_member_id)' ,data-toggle='modal', data-target='.bd-example-modal-lg') {{tm_name.username }}
                                                .col-md-6(style='padding:0px;' v-for='snnn, index in username_p')
                                                    .fa.fa-times.pull-right.oe_kanban_action.oe_kanban_action_a( v-on:click="submit51(snnn.id , index)" style='cursor: pointer;')
                                                    img(src='/images/placeholder.png')
                                                    p(style='display:inline-block;') {{snnn.username}}


        .o_mail_thread(style='margin-left: 336px;')
            .o_thread_date_separator
                span.o_thread_date
                    | February 25, 2017


            .o_thread_message.samothreadmessage(data-message-id='1038')
                .o_thread_message_sidebar
                    img.o_thread_message_avatar(data-oe-model='res.partner', data-oe-id='', src='/images/image_small.png' style='width: 33px;a')
                .o_thread_message_core.o_mail_note.samothreadmessage1
                    p.o_mail_info
                        | Note by
                        strong(data-oe-model='res.partner', data-oe-id='')
                            | YourCompany, Administrators
                        |                     -
                        small.o_mail_timestamp(title='Sat Feb 25 2017 16:35:56 GMT+0500') 9 days ago
                        span
                            i.fa.fa-lg.o_thread_message_star.fa-star-o(title='Mark as Todo', data-message-id='1038')
                    ul.o_mail_thread_message_tracking
                        li
                            | Untaxed Amount:
                            span  637.5
                        li
                            | Vendor:
                            span  Delta PC
                        li
                            | Status:
                            span  RFQ
                            span.fa.fa-long-arrow-right
                            span
                                | RFQ Sent



