.salesorderquotation
    DashboardController(v-bind:editbtn='true',v-bind:heading="quotation",v-bind:createbtn='true',v-bind:importbtn='false',v-bind:Attachmentbtn='true',v-bind:printbtn='false',v-bind:actionbtn='true', v-bind:links="btnlinks",v-bind:num1='true',v-bind:num2='true',v-bind:paginbtn1='false',v-bind:paginbtn2='false',v-bind:firstbtn='false',v-bind:secondbtn='false',v-bind:fifthbtn='false',v-bind:thirdbtn='false',v-bind:fourthbtn='false',v-bind:searchbar='false',v-bind:deletebtn='true',v-bind:duplicate='true')
        .col-sm-6(style='padding:0px;' ,slot='heading')
            h4.samodashheading(style="font-size: 18px;display: inline-block;padding-right: 5px;") Sales Teams /
            span {{sales_team_name}}
        span.o_pager_value(slot='page') {{counter}}
            |  /
            span.o_pager_limit(style="padding-right: 6px;") {{num}}

            span.btn-group.btn-group-sm
                button.fa.fa-chevron-left.btn.btn-icon.o_pager_previous#num10(@click="counter--",style='background-color:white;border-color: #adadad;color: #4c4c4c;')(type='button', accesskey='p')
                button.fa.fa-chevron-right.btn.btn-icon.o_pager_next#num01(@click="counter++",style='background-color:white;border-color: #adadad;color: #4c4c4c;')(type='button', accesskey='n')
    Modal(v-bind:close='true',v-bind:heading="modal",v-bind:modal='"bd-example-modal-lg"')
        .modal-body.o_act_window
            .o_form_view.o_form_readonly
                .o_form_sheet_bg
                    .o_form_sheet
                        span.o_form_field.o_form_invisible 1
                        .oe_form_box_info.oe_text_center.o_form_invisible(style='margin-bottom: 10px', attrs="{'invisible': [('id', '>', 0)]}")
                            | You are creating a new user. After saving, the user will receive an invite email containing a link to set its password.
                        .o_form_field_image.oe_avatar.o_form_field(data-original-title='', title='')
                            img.img.img-responsive(border='1', name='image', src='http://192.168.100.105:8069/web/image?model=res.users&id=1&field=image_medium&unique=20171107093029')
                        .oe_title(style='margin-left: 160px;margin-top: -140px;')
                            label.o_form_label.oe_edit_only
                                | Name
                            h1
                                span.o_form_field.o_form_required {{username}}
                            label.o_form_label.o_form_label_help.oe_edit_only
                                | Email Address
                            h2
                                span.o_form_field.o_form_required {{email}}
                            label.o_form_label.o_form_label_help.o_form_invisible.oe_edit_only
                                | Company
                            a.o_form_uri.o_form_field.o_form_required.o_form_invisible(href='#') YourCompany
                        table.o_group.o_inner_group(style='margin-top: 56px;')
                            tbody
                                tr
                                    td.o_td_label(colspan='1')
                                        label.o_form_label
                                            | Phone
                                    td(colspan='1', style='width: 100%;')
                                        span.o_form_field {{phone_no}}
                                tr
                                    td.o_td_label.o_form_invisible(colspan='1')
                                        label.o_form_label.o_form_label_empty.o_form_label_false
                                            | Mobile
                                    td.o_form_invisible(colspan='1', style='width: 100%;')
                                        span.o_form_field.o_form_field_empty
                                tr
                                    td.o_td_label.o_form_invisible(colspan='1')
                                        label.o_form_label.o_form_label_empty.o_form_label_false
                                            | Fax
                                    td.o_form_invisible(colspan='1', style='width: 100%;')
                                        span.o_form_field.o_form_field_empty

    .o_content.samocontent(style='margin-left: -15px;margin-right: -15px;')
        .o_view_manager_content#show1
            .o_form_view.o_form_readonly
                .o_form_sheet_bg
                    .o_form_sheet
                        .oe_button_box(name='button_box')
                            button.btn.btn-sm.oe_stat_button(type='button')
                                .fa.fa-fw.fa-archive.o_button_icon
                                .o_stat_info.o_form_field(data-original-title='', title='')
                                    span.o_stat_text.o_not_hover.text-success Active
                                    span.o_stat_text.o_hover.text-danger Archive
                        .oe_title
                            label.o_form_label.oe_edit_only
                                | Sales teams
                            h1
                                span.o_form_field.o_form_required {{sales_team_name}}
                                button.o_field_translate.fa.fa-globe.btn.btn-link(type='button')
                            div(name='options_active',style='display:grid;')
                                .o_row
                                    .o_checkbox.o_form_field_boolean.o_form_field
                                        input#o_field_input_37(type='checkbox', name='use_quotations', disabled='')
                                        span
                                    label.o_form_label.o_form_label_help(for='o_field_input_37', data-original-title='', title='')
                                        | Quotations
                                    .o_checkbox.o_form_field_boolean.o_form_field
                                        input#o_field_input_38(type='checkbox',v-bind:true-value='1' v-bind:false-value='0' v-model='invoices', disabled='')
                                        span
                                    label.o_form_label.o_form_label_help.o_form_label_false(for='o_field_input_38', data-original-title='', title='')
                                        | Invoices
                                .o_row
                                    span.o_row.o_form_invisible
                                        .o_checkbox.o_form_field_boolean.o_form_field
                                            input#o_field_input_39(type='checkbox',v-bind:true-value='1' v-bind:false-value='0' v-model='opportunities', disabled='')
                                            span
                                        label.o_form_label.o_form_label_help(for='o_field_input_39', data-original-title='', title='')
                                            | Leads
                                    .o_checkbox.o_form_field_boolean.o_form_field
                                        input#o_field_input_40(type='checkbox',v-bind:true-value='1' v-bind:false-value='0' v-model='quotations', disabled='')
                                        span
                                    label.o_form_label.o_form_label_help(for='o_field_input_40', data-original-title='', title='')
                                        | Opportunities



                        .o_group
                            table.o_group.o_inner_group.o_group_col_6
                                tbody
                                    tr
                                        td.o_td_label(colspan='1')
                                            label.o_form_label.o_form_label_empty.o_form_label_false
                                                | Team Leader
                                        td(colspan='1', style='width: 100%;')
                                            a(href='#') {{team_leader}}
                                    tr
                                        td.o_td_label(colspan='1')
                                            label.o_form_label.o_form_label_help
                                                | Email Alias
                                        td(colspan='1', style='width: 100%;')
                                            div(name='alias_def', attrs="{'invisible': [('use_leads', '=', False), ('use_opportunities', '=', False)]}")
                                                a(href='#', data-original-title='', title='') {{alias}}
                                                .oe_edit_only.oe_inline(name='edit_alias', style='display: inline;')
                                                    span.oe_inline.o_form_field sales4
                                                    | @
                                                    span.oe_inline.o_form_field localhost
                                    tr
                                        td.o_td_label(colspan='1')
                                            label.o_form_label.o_form_label_help.o_form_invisible.oe_inline
                                                | Accept Emails From
                                        td(colspan='1', style='width: 100%;')
                                            span.oe_inline.o_form_field.o_form_required.o_form_invisible Everyone
                            table.o_group.o_inner_group.o_group_col_6

                        .o_notebook
                            ul.nav.nav-tabs(role='tablist')
                                li.nav-item
                                    a.nav-link.active(href='#profile', role='tab', data-toggle='tab') Team Member
                            // Tab panes
                            .tab-content
                                #profile.tab-pane.fade.in.active(role='tabpanel')
                                    .o_form_field.o_form_field_many2many.o_view_manager_content
                                        .o_x2m_control_panel
                                            .o_cp_buttons
                                            .o_cp_pager
                                                .o_hidden
                                                    span.o_pager_value
                                                    |  /
                                                    span.o_pager_limit
                                                    span.btn-group.btn-group-sm
                                                        button.fa.fa-chevron-left.btn.btn-icon.o_pager_previous(type='button')
                                                        button.fa.fa-chevron-right.btn.btn-icon.o_pager_next(type='button')
                                        .o_kanban_view.o_cannot_create.o_kanban_ungrouped(style='display: flex;')
                                            .col-md-12(style='padding-top: 12px;')
                                                .col-md-6(style='padding:0px;' v-for='tm_name in sales_team_team_member_name',  @click='modal_tm(tm_name.team_member_id)' ,data-toggle='modal', data-target='.bd-example-modal-lg')
                                                    img(src='/images/placeholder.png')
                                                    p(style='display:inline-block;') {{tm_name.username }}
        Message
        .o_mail_thread(style='margin-left: 336px;')
            .o_thread_date_separator
                span.o_thread_date
                    | February 25, 2017
            .o_thread_message.samothreadmessage(data-message-id='1038')
                .o_thread_message_sidebar
                    img.o_thread_message_avatar(data-oe-model='res.partner', data-oe-id='', src='/images/image_small.png' style='width: 33px;a')
                .o_thread_message_core.o_mail_note.samothreadmessage1
                    p.o_mail_info
                        | Note by
                        strong(data-oe-model='res.partner', data-oe-id='')
                            | YourCompany, Administrators
                        |                     -
                        small.o_mail_timestamp(title='Sat Feb 25 2017 16:35:56 GMT+0500') 9 days ago
                        span
                            i.fa.fa-lg.o_thread_message_star.fa-star-o(title='Mark as Todo', data-message-id='1038')
                    ul.o_mail_thread_message_tracking
                        li
                            | Untaxed Amount:
                            span  637.5
                        li
                            | Vendor:
                            span  Delta PC
                        li
                            | Status:
                            span  RFQ
                            span.fa.fa-long-arrow-right
                            span
                                | RFQ Sent




